/* Contenedor de la Grilla */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste automático */
  gap: 15px; /* Espacio entre los elementos */
  padding: 10px;
  justify-content: center;
  align-items: start;
  background-color: #2c2c3a; /* Fondo tipo Spotify */
}

/* Proyecto (Elemento Individual) */
.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #2c2c3a; /* Fondo oscuro */
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  height: 280px; /* Altura fija */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
  background-color: #373749; 
  color: #ffffff; /* Cambia el texto a blanco */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease, color 0.3s ease; /* Animación suave */
}

/* Imagen */
.project-image {
  width: 80%; /* La imagen ocupará el 80% del ancho del contenedor */
  aspect-ratio: 1 / 1; /* Mantiene proporción cuadrada */
  object-fit: cover; /* Ajusta la imagen sin distorsión */
  border-radius: 2px; /* Bordes redondeados */
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}


/* Nombre del Proyecto */
.project-name {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #b3b3b3; /* Texto gris claro */
  text-align: center;
  white-space: nowrap; /* Evita saltos de línea */
  overflow: hidden;
  text-overflow: ellipsis; /* Muestra "..." si el texto es muy largo */
}

/* Botón */
.btn-success {
  background-color: #1db954; /* Verde característico de Spotify */
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-success:hover {
  background-color: #1aa34a; /* Verde más oscuro */
  box-shadow: 0 4px 15px rgba(29, 185, 84, 0.5); /* Sombra verde */
}
