/* Fondo General */
body {
    background-color: #121212; /* Fondo oscuro */
    font-family: 'Arial', sans-serif;
    color: #e0e0e0; /* Texto claro */
    margin: 0;
    padding: 0;
  }
  
 
  
  /* Contenedor de la Grilla */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajuste automático de columnas */
    gap: 20px; /* Espacio entre las tarjetas */
    padding: 20px;
    
  }
  
  /* Tarjeta Individual */
  .card {
    background-color: #1e1e2f; /* Fondo oscuro de la tarjeta */
    border-radius: 10px;
    box-shadow: 0 4px 0.1% rgba(0, 200, 83, 0.2); /* Sombra verde */
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    
    border: 1px solid #a98b29; /* Borde dorado */
  }
  
  /* Efectos de Hover en la Tarjeta */
  .card:hover {
    transform: scale(1.05); /* Efecto de aumento */
    box-shadow: 0 8px 20px rgba(0, 200, 83, 0.4); /* Sombra más intensa */
  }
  
  /* Encabezado de la Tarjeta */
  .card-header {
    background-color: #00c853; /* Verde brillante */
    padding: 1%;
    text-align: center;
    color: #121212; /* Texto oscuro */
    font-weight: bold;
    font-size: 18px;
  }
  
  /* Imagen de la Tarjeta */
  .card-image {
   
    display: block;
    width: 100%; /* Se adapta al ancho de la tarjeta */
    height: auto; /* Mantiene las proporciones */
    max-height: 60%; /* Limita la altura máxima */
    object-fit: cover; /* Ajusta la imagen sin distorsión */
    border-radius: 3px; /* Bordes redondeados para la imagen */
  }
  
  /* Cuerpo de la Tarjeta */
  .card-body {
    padding: 10px;
    color: #e0e0e0; /* Texto claro */
  }
   /* Imagen de la Tarjeta */

  .card-body .description {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.5;
    color: #b0b0b0; /* Texto gris claro */
  }
  
  /* Footer de la Tarjeta */
  .card-footer {
    text-align: center;
    padding: 15px;
    background-color: #121212; /* Fondo oscuro */
    border-top: 1px solid #3a3a4a; /* Línea separadora */
  }
  
  /* Botón de la Tarjeta */
  .btn-success {
    background-color: #00c853; /* Fondo verde brillante */
    border: none;
    color: #121212; /* Texto oscuro */
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .btn-success:hover {
    background-color: #00a944; /* Verde más oscuro */
    box-shadow: 0 0 10px rgba(0, 200, 83, 0.6); /* Brillo verde */
  }
  
 
  