.footer-audio {
  position: fixed; /* Hace que el footer sea fijo */
  bottom: 0; /* Se posiciona en la parte inferior de la pantalla */
  left: 0; /* Alineado al borde izquierdo */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  background-color: #121212; /* Fondo oscuro similar a Spotify */
  color: #e0e0e0; /* Texto claro */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espaciado entre elementos */
  padding: 10px 20px; /* Espaciado interno */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar */
}

.audio-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.audio-title {
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
  color: #ffffff; /* Color verde estilo Spotify */
}

audio {
  flex-grow: 1; /* Permite que el elemento de audio se ajuste */
  border-radius: 5px;
}

audio::-webkit-media-controls-panel {
  background-color: #b6b4b4; /* Fondo de los controles de audio */
}
